<!DOCTYPE html>
<html>

<head>
	<title>Edit page</title>
</head>

<body>
	<div>
		<h1>Add Employee</h1>
	</div>

	<a href="/home/alluser"> Back to List</a> |
	<a href="/logout"> logout</a><br>

	<form method="post">
		<table>

			<tr>
				<td>Name</td>
				<td><input type="text" name="username" value=""><br>
					<%if(typeof errors != "undefined"){%>
					<% errors.forEach(function(err){ %>
					<% if(err.param == 'username') {%>
						<%= err.msg %>
						<% } %>
					 <% }); %>
					<% } %></td>
					

				

			</tr>
			<tr>
				<td>Uname:</td>
				<td><input type="text" name="uname" value=""><br><%if(typeof errors != "undefined"){%>
					<% errors.forEach(function(err){ %>
					<% if(err.param == 'uname') {%>
						<%= err.msg %>
						<% } %>
					 <% }); %>
					<% } %></td>
			
			
			</tr>
			<tr>
				<td>Password :</td>
				<td><input type="password" name="password" value=""><br><%if(typeof errors != "undefined"){%>
					<% errors.forEach(function(err){ %>
					<% if(err.param == 'password') {%>
						<%= err.msg %>
						<% } %>
					 <% }); %>
					<% } %></td>
			
			
			</tr>
			<tr>
				<td>Contact:</td>
				<td><input type="text" name="contact" value=""><br><%if(typeof errors != "undefined"){%>
					<% errors.forEach(function(err){ %>
					<% if(err.param == 'contact') {%>
						<%= err.msg %>
						<% } %>
					 <% }); %>
					<% } %></td>
			
			
			</tr>
			<tr>
				<td>Type :</td>
				<td><select type="text" name="type" value="">
					<option value="user">User</option>
					<option value="scout">Scout</option>
					<br></select><%if(typeof errors != "undefined"){%>
					<% errors.forEach(function(err){ %>
					<% if(err.param == 'type') {%>
						<%= err.msg %>
						<% } %>
					 <% }); %>
					<% } %></td>
			
			
			</tr>
				<tr>
			
				<td></td>
				<td><input type="submit" name="submit" value="Update"></td>
			</tr>
		</table>
		
	</form>


	
</body>

</html>